decorator==4.0.9
Django==1.8.6
django-crispy-forms==1.6.0
django-oauth2-provider==0.2.6.1
django-suit==0.2.18
django-tastypie==0.12.2
html5lib==0.999
httplib2==0.9
ipdb==0.9.0
lxml==3.4.2
oauthlib==0.6.1
python-dateutil==2.4.2
python-debian==0.1.22
service-identity==1.0.0
sessioninstaller==0.0.0
